body {
  font-family: system-ui;
  margin: 0;
}
.heading{
  justify-content: center;
  display: flex;
}
.mar{
  margin: 1rem;
  padding: 1rem;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.flex-end{
  display: flex;
  justify-content: end;
}
.center{
  justify-content: center;
  align-items: center;
  display: flex;
}
.h{
  height: 100vh;
}
.loading{
  display: "grid";
  place-items: "center";
  height: "100vh";
}
.border{
  border: 2px solid black !important;
  margin: 0.6rem !important;
}